.swiper-slide img {
    width: 100%;
}

.text-overlay {
    position: absolute;
    top: 69%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    color: var(--branco);
}

.text-overlay h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.text-overlay p {
    font-size: 18px;
    opacity: 75%;
    width: 15em;
    margin: 0;
}

.swiper-pagination {
    position: absolute;
    bottom: 50px;
    /* Adjust the vertical position as per your needs */
    transform: translateY(-125%);
}

.swiper-pagination-bullet {
    width: 2.5em;
    height: 0.3em;
    border-radius: 2em;
    background-color: var(--branco);
}

.swiper-pagination-bullet-active {
    background: var(--branco);
}

.swiper-button-prev {
    left: 2.5em;
}

.swiper-button-next {
    right: 2.5em;
}

.swiper-button-prev,
.swiper-button-next {
    color: var(--branco);
}


/* Style for the arrow icons */

.swiper-button-next::after,
.swiper-button-prev::after {
    font-family: "Arial", sans-serif;
    font-size: 24px;
    line-height: 1;
}


/* Customize the arrow icons */

.swiper-button-next::after {
    content: "▶";
    /* Right arrow icon */
}

.swiper-button-prev::after {
    content: "◀";
    /* Left arrow icon */
}