.contato {
    background-color: var(--branco);
    text-align: center;
    margin: 1.5rem;
    border-style: solid;
    border-color: var(--preto);
    border-width: 1px;
}

.contato__titulo p {
    padding: 1.5rem;
}

.site-email {
    width: 12em;
    padding: 10px 12px 10px 12px;
}

.botao__contato {
    background-color: var(--lilas);
    font-family: var(--fonte-principal);
    font-weight: 500;
    padding: 8px 12px 8px 12px;
    color: var(--branco);
}

.site-email,
.botao__contato {
    border-style: solid;
    border-color: var(--preto);
    border-width: 1px;
    font-size: 16px;
    margin-bottom: 1.5rem;
}